<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply for Concession</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link rel="stylesheet" href="stylesheets/styles.css" />
  </head>
  <body>
    <div style="display: block">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="">Home</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="">Basic Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/concession-details"
                >Concession Details</a
              >
            </li>
           
              
            
              <a class="nav-link" href="/">Upload Document</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container" style="display: block">
      <header>Registration</header>

      <form action="/application/basicdetails" method="post">
        <div class="form first">
          <div class="details personal">
            <span class="title">Personal Details</span>

            <div class="fields">
              <div class="input-field">
                <label>First Name</label>
                <input type="text" placeholder="Enter your name" required name="first_name" />
              </div>

              <div class="input-field">
                <label>Last Name</label>
                <input type="text" placeholder="Enter your name" required name="last_name" />
              </div>

              <div class="input-field">
                <label>Middle Name</label>
                <input type="text" placeholder="Enter your name" required name="middle_name" />
              </div>

              <div class="input-field">
                <label>Date of Birth</label>
                <input type="date" placeholder="Enter birth date" required  name="DOB"/>
              </div>

              <div class="input-field">
                <label>Mobile Number</label>
                <input
                  type="number"
                  placeholder="Enter mobile number"
                  required
                  name="phone"
                />
              </div>

              <div class="input-field">
                <label>Gender</label>
                <select required>
                  <option disabled selected>Select</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Others</option>
                </select>
              </div>

              <div class="input-field">
                <label>Caste</label>
                <select required name="caste">
                  <option disabled selected>Select Caste</option>
                  <option>Open</option>
                  <option>OBC</option>
                  <option>SC/ST</option>
                  <option>Others</option>
                </select>
              </div>
            </div>
          </div>

          <div class="details ID">
            <span class="title">Acedemic Details</span>

            <div class="fields">
              <div class="input-field">
                <label>Reg. No/Enrollment No</label>
                <input type="text" placeholder="Enter ID type" required name="reg_no"/>
              </div>

              <div class="input-field">
                <label>Year</label>
                <select required name="year">
                  <option disabled selected>Year of Study</option>
                  <option>First</option>
                  <option>Second</option>
                  <option>Third</option>
                  <option>Fourth</option>
                </select>
              </div>

              <div class="input-field">
                <label>Semester</label>
                <select required name="semester">
                  <option disabled selected>Current Semester</option>
                  <option>I</option>
                  <option>II</option>
                  <option>III</option>
                  <option>IV</option>
                  <option>V</option>
                  <option>VI</option>
                  <option>VII</option>
                  <option>VIII</option>
                </select>
              </div>

              <div class="input-field">
                <label>Program</label>
                <select required name="programe">
                  <option disabled selected>Select Program</option>
                  <option>B.Tech</option>
                  <option>M.Tech</option>
                  <option>PhD</option>
                  <option>Diploma</option>
                  <option>MCA</option>
                </select>
              </div>

              <div class="input-field">
                <label>Department</label>
                <select required name="dept">
                  <option disabled selected>Select Department</option>
                  <option>Computer Science</option>
                  <option>Information Technology</option>
                  <option>Electronics & Telecommunication</option>
                  <option>Electronics</option>
                  <option>Electrical</option>
                  <option>Civil</option>
                  <option>Mechanical</option>
                  <option>Production</option>
                  <option>Textile</option>
                  <option>Chemsa</option>
                </select>
              </div>
            </div>

            <button class="nextBtn">
              <span class="btnText">Next</span>
              <i class="uil uil-navigator"></i>
            </button>
          </div>
        </div>
      </form>
    </div>

    <script src="js/basicDetailsCheck.js"></script>

  </body>
</html>
