<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/styles1.css">
    <title>Rejected</title>
</head>

<body>

    <form class="form card" action="/institue_view/reverted/<%= request._id %> " method="post">

        <div class="card_header">
            <h1 class="form_heading">Reason for Rejection</h1>
        </div>

        <div class="input-field container" style="margin:auto">
            <select required name="reason">
                <option disabled selected>Select Reason</option>
                <option>Wrong Documents</option>
                <option>Address is wrong/not matching</option>
                <option>Not a college student</option>
                <option>Others</option>
            </select>
        </div>

        <div class="field" style="margin:1vw 0.9vw;">
            <input type="text" name="reason1">
        </div>
        <div class="field" style="margin:0vw 0.9vw;">
            <button class="button" type="submit">Submit</button>
        </div>
    </form>







</body>

</html>